<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CareConnect QA Suite">
    <test verbose="2" preserve-order="true" name="CareConnect Login Tests">
        <classes>
            <class name="com.thetestingacademy.tests.careconnect.TestLogin"/>
            <class name="com.thetestingacademy.tests.careconnect.TestPatients"/>
            <class name="com.thetestingacademy.tests.organization.TestCountries"/>
            <class name="com.thetestingacademy.tests.organization.TestAreas"/>
            <class name="com.thetestingacademy.tests.organization.TestCities"/>
            <class name="com.thetestingacademy.tests.organization.TestDistricts"/>
            <class name="com.thetestingacademy.tests.organization.TestStreets"/>
        </classes>
    </test>
</suite>
