<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CareConnect QA Suite">
    <test verbose="2" preserve-order="true" name="CareConnect Login Tests">
        <classes>
            <class name="com.thetestingacademy.tests.careconnect.TestLogin"/>
            <class name="com.thetestingacademy.tests.organization.TestFacilities"/>
            <class name="com.thetestingacademy.tests.organization.TestSuppliers"/>
            <class name="com.thetestingacademy.tests.organization.TestGroups"/>
            <class name="com.thetestingacademy.tests.organization.TestDivisions"/>
            <class name="com.thetestingacademy.tests.users.TestUsers"/>
            <class name="com.thetestingacademy.tests.users.TestRoles"/>
            <class name="com.thetestingacademy.tests.users.TestInvitations"/>
            <class name="com.thetestingacademy.tests.patient_management.TestVisits"/>
            <class name="com.thetestingacademy.tests.patient_management.TestMyAppointments"/>
            <class name="com.thetestingacademy.tests.patients.TestPatients"/>
            <class name="com.thetestingacademy.tests.organization.TestCountries"/>
            <class name="com.thetestingacademy.tests.organization.TestAreas"/>
            <class name="com.thetestingacademy.tests.organization.TestCities"/>
            <class name="com.thetestingacademy.tests.organization.TestDistricts"/>
            <class name="com.thetestingacademy.tests.organization.TestStreets"/>
            <class name="com.thetestingacademy.tests.terminology.TestTerminologies"/>
        </classes>
    </test>
</suite>
